.bg-primary {
  background-color: #e3f2fd !important;
}

#carouselExampleCaptions {
  margin-top: 50px;
  height: 1000px;
  width: 1000px;
}

#carrosel {
  height: 65vh; 
  min-height: 0;
}

div{
  padding: 0%;
}