.bg-primary {
  background-color: #e3f2fd !important;
}

#carouselExampleCaptions {
  margin-top: 50px;
  height: 800px;
  width: 800px;
}

#carrossel {
  height: 75vh; 
  min-height: 0;
}

.card {
  height: 22rem;
}

.cidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

section{
  margin-bottom: 3rem;
}

header{
  height: 100px;
}

.img-header {
  height: 80px;
}

